
#app
  #time
    #now
      #clock(v-model='now | niceTime', v-on='click: markTime')
    #anytime
      //- input#settime(v-model='settime')
  #menu
    #basetime
      .timeinfo
        span.time(v-model='base | niceTime', v-on='click: baseNow')
        span.distance(v-model='base | toTime now')
    .timedrop(v-repeat='list')
      .timeinfo
        span.time(v-model='time | niceTime', v-on='click: setBase(time)')
        span.distance(v-model='base | toTime time')
      .note(v-model='note', contenteditable)
      .close(v-on='click: remove($index)') ×